<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="/img/icon.png"/>
    <title>Sistem Informasi Penjualan : Data Pemasok</title>
    <!-- Bootstrap Styles-->
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}"><i class="fa fa-leaf" aria-hidden="true"></i><strong>WEB BASE</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a class="active-menu" th:href="@{/}"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table"></i> Pembelian Bahan </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/pembelians}"><i class="fa fa-table"></i>Data Pembelian Bahan</a>
                        </li>
                        <li>
                            <a th:href="@{/laporanPembelian}"><i class="fa fa-file" aria-hidden="true"></i>
                                Laporan Data Pembelian</a>
                        </li>
                    </ul>
                <li>
                <li>
                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Barang</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/barang}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Data Barang</a>
                        </li>
                        <li>
                            <a th:href="@{/laporanBarang}"><i class="fa fa-file" aria-hidden="true"></i>
                                Laporan Barang</a>
                        </li>
                    </ul>
                <li>
                <li>
                    <a href="#"><i class="fa fa-male" aria-hidden="true"></i>Pelanggan</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/pelanggans}"><i class="fa fa-male" aria-hidden="true"></i>
                                Data Pelanggan</a>
                        </li>
                        <li>
                            <a th:href="@{/laporanPelanggan}"><i class="fa fa-file" aria-hidden="true"></i>
                                Laporan Pelanggan</a>
                        </li>
                    </ul>
                <li>
                <li>
                    <a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i>
                        Pemasok</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/pemasoks}"><i class="fa fa-briefcase" aria-hidden="true"></i>
                                Data Pemasok</a>
                        </li>
                        <li>
                            <a th:href="@{/laporanPemasok}"><i class="fa fa-file" aria-hidden="true"></i>
                                Laporan Pemasok</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-usd" aria-hidden="true"></i>
                        Penjualan</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/penjualans}"><i class="fa fa-usd" aria-hidden="true"></i>
                                Data Penjualan</a>
                        </li>
                        <li>
                            <a th:href="@{/laporanPenjualan}"><i class="fa fa-file" aria-hidden="true"></i>
                                Laporan Penjualan</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-users" aria-hidden="true"></i>
                        User</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/user}"><i class="fa fa-users" aria-hidden="true"></i>
                                Data User</a>
                        </li>
                        <li>
                            <a th:href="@{/laporanUser}"><i class="fa fa-file" aria-hidden="true"></i>
                                Laporan User</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Data Pemasok <small>PT. Batu Jaya</small>
                    </h1>

                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                <header class="panel-heading">
                                </header>
                                <button type="button" class="btn btn-info" data-toggle="modal"
                                        data-target="#addModal"><i class="fa fa-plus-square" aria-hidden="true"></i>
                                </button>

                                <table class="table table-striped table-advance table-hover">
                                    <tbody>
                                    <tr>
                                        <th><i class="fa fa-sort-amount-desc" aria-hidden="true"></i> ID Pemasok</th>
                                        <th><i class="fa fa-sort-amount-desc" aria-hidden="true"></i> ID User</th>
                                        <th><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                            Nama Pemasok
                                        </th>
                                        <th><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                           Alamat Pemasok
                                        </th>
                                        <th><i class="fa fa-money" aria-hidden="true"></i>
                                            Telephone Pemasok
                                        </th>
                                        <th><i class="fa fa-usd" aria-hidden="true"></i>
                                            Email Pemasok
                                        </th>
                                        <th><i class="fa fa-cogs" aria-hidden="true"></i>
                                            Action
                                        </th>
                                    </tr>
                                    <tr th:each="pemasok:${pemasok}">
                                        <td th:text="${pemasok.id_pemasok}">ID Pemasok</td>
                                        <td th:text="${pemasok.userid}">ID User</td>
                                        <td th:text="${pemasok.nama_pemasok}">Tanggal</td>
                                        <td th:text="${pemasok.alamat_pemasok}">Nama Barang</td>
                                        <td th:text="${pemasok.telephone_pemasok}">Harga Satuan</td>
                                        <td th:text="${pemasok.email_pemasok}">Banyak Pembelian</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-primary" id="editButton"
                                                   th:href="@{/pemasok/findById/(id_pemasok=${pemasok.id_pemasok})}"><i
                                                        class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                                <a class="btn btn-dark" id="detailsButton"
                                                   th:href="@{/pemasok/findById/(id_pemasok=${pemasok.id_pemasok})}"><i
                                                        class="fa fa-caret-down" aria-hidden="true"></i>
                                                </a>
                                                <a class="btn btn-danger" id="deleteButton"
                                                   th:href="@{/pemasok/delete/(id_pemasok=${pemasok.id_pemasok})}"><i
                                                        class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /. ROW  -->
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>


    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form th:action="@{/pemasok/addNew}" method="post">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tambahModal">Tambah Data Pemasok</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="id_pemasok" class="col-sm-4 col-form-label">Id Pemasok</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="id_pemasok" name="id" placeholder="Id"
                                       disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ddlUserAdd" class="col-sm-4 col-form-label">User: </label>
                            <div class="col-sm-6">
                                <select class="form-control" id="ddlUserAdd" name="userid">
                                    <option>-Pilih User-</option>
                                    <option th:each="user : ${user}"
                                            th:value="${user.id_user}"
                                            th:text="${user.id_user}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nama_pemasok" class="col-sm-4 col-form-label">Nama Pemasok</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="nama_pemasok"
                                       name="nama_pemasok" placeholder="nama Pemasok">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="alamat_pemasok" class="col-sm-4 col-form-label">Alamat Pemasok</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="alamat_pemasok"
                                       name="alamat_pemasok" placeholder="Alamat Pemasok">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="telephone_pemasok" class="col-sm-4 col-form-label">Telephone Pemasok </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="telephone_pemasok"
                                       name="telephone_pemasok" placeholder="Telephone Pemasok">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email_pemasok" class="col-sm-4 col-form-label">Pemasok</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="email_pemasok"
                                       name="email_pemasok" placeholder="Email Pemasok">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form th:action="@{/pemasok/update}" method="put">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Contact Record</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label for="id_pemasokEdit" class="col-sm-4 col-form-label">Id Pemasok</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="id_pemasokEdit" name="id" placeholder="Id"
                                               disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlUserEdit" class="col-sm-4 col-form-label">User: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlUserEdit" name="userid">
                                            <option>-Pilih User-</option>
                                            <option th:each="user : ${user}"
                                                    th:value="${user.id_user}"
                                                    th:text="${user.id_user}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="nama_pemasokEdit" class="col-sm-4 col-form-label">Nama Pemasok</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="nama_pemasokEdit"
                                               name="nama_pemasokEdit" placeholder="nama Pemasok">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="alamat_pemasokEdit" class="col-sm-4 col-form-label">Alamat Pemasok</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="alamat_pemasokEdit"
                                               name="alamat_pemasokEdit" placeholder="Alamat Pemasok">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="telephone_pemasokEdit" class="col-sm-4 col-form-label">Telephone Pemasok </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="telephone_pemasokEdit"
                                               name="telephone_pemasokEdit" placeholder="Telephone Pemasok">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email_pemasokEdit" class="col-sm-4 col-form-label">Pemasok</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="email_pemasokEdit"
                                               name="email_pemasokEdit" placeholder="Email Pemasok">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form>
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">View Data Pemasok</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label for="id_pemasokDetails" class="col-sm-4 col-form-label">Id Pemasok</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="id_pemasokDetails" name="id" placeholder="Id"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlUserDetails" class="col-sm-4 col-form-label">User: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlUserDetails" name="userid">
                                            <option>-Pilih User-</option>
                                            <option th:each="user : ${user}"
                                                    th:value="${user.id_user}"
                                                    th:text="${user.id_user}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="nama_pemasokDetails" class="col-sm-4 col-form-label">Nama Pemasok</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="nama_pemasokDetails"
                                               name="nama_pemasokDetails" placeholder="nama Pemasok" readonly>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="alamat_pemasokDetails" class="col-sm-4 col-form-label">Alamat Pemasok</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="alamat_pemasokDetails"
                                               name="alamat_pemasokDetails" placeholder="Alamat Pemasok" readonly>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="telephone_pemasokDetails" class="col-sm-4 col-form-label">Telephone Pemasok </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="telephone_pemasokDetails"
                                               name="telephone_pemasokDetails" placeholder="Telephone Pemasok" readonly>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email_pemasokDetails" class="col-sm-4 col-form-label">Pemasok</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="email_pemasokDetails"
                                               name="email_pemasokDetails" placeholder="Email Pemasok" readonly>
                                    </div>
                                </div>
                            <div class="form-group row">
                                <label class="col-sm-4  col-form-label">Last Updated By:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="lastModifiedByDetails"
                                           name="lastModifiedBy" readonly>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Last Updated On:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="lastModifiedDateDetails"
                                           name="lastModifiedDate" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record?</p>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-primary" id="delRef">Yes, Delete</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/jquery.js"></script>
    <!-- nice scroll -->
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <!--custome script for all page-->
    <script src="js/scripts.js"></script>
    <script src="js/pemasok.js"></script>
    <!-- Bootstrap Js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="js/custom-scripts.js"></script>


</div>
</body>
</html>
